@import "./../Theme.scss";
body {
    font-size: 100%;
    background-color: $primary-background-color;
    color: $primary-text-color;
}

#introduction {
    margin: auto;
    text-align: center;
    width: 90%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    @media only screen and (min-width: $break-large) {
        font-size: 200%;
    }
    @media only screen and (max-width: $break-large) {
        font-size: 300%;
    }
    @media only screen and (max-width: $break-medium) {
        font-size: 500%;
    }
    .title {
        font-size: 200%;
    }
    .subtitle {
        // font-size: smaller;
        // font-weight: bold;
        margin-bottom: 1em;
    }
    #button-holder {
        margin: auto;
        width: 60%;
        display: grid;
        justify-items: center;
        align-items: center;
        @media only screen and (min-width: $break-medium) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media only screen and (max-width: $break-medium) {
            grid-template-columns: 1fr;
        }
        a {
            color: inherit;
            padding: 2vw;
        }
    }
}

#about-me {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 4fr .5fr;
    justify-items: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: $secondary-background-color;
    color: $secondary-text-color;
    @media only screen and (min-width: $break-large) {
        font-size: 150%;
    }
    @media only screen and (max-width: $break-large) {
        font-size: 200%;
    }
    img {
        border-radius: 50%;
    }
}

#portfolio {
    margin: auto;
    text-align: center;
    background-color: $tertiary-background-color;
    color: $tertiary-text-color;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: $break-large) {
        font-size: 150%;
    }
    @media only screen and (max-width: $break-large) {
        font-size: 500%;
    }
    .element {
        .title {
            font-size: 200%;
        }
    }
}