@import "./../Theme.scss";
body {
    background-color: $primary-background-color;
    color: $primary-text-color;
    // @media only screen and (min-width: $break-medium) {
    //     font-size: 3em;
    // }
    // @media only screen and (max-width: $break-medium) {
    //     font-size: 1em;
    // }
    // @media only screen and (max-width: $break-small) {
    //     font-size: 1em;
    // }
}

#introduction {
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    #info {
        .bold {
            font-style: bold;
        }
        .custom-name-color {
            color: magenta;
        }
        .custom-title-color {
            color: gold;
        }
        .title {
            font-size: 1.3em;
        }
        .subtitle {
            font-size: .7em;
            margin-bottom: .1em;
        }
        @media only screen and (min-width: $break-medium) {
            .title {
                font-size: 4em;
            }
            .subtitle {
                font-size: 2.5em;
            }
        }
        @media only screen and (max-width: $break-medium) {
            .title {
                font-size: 2.5em;
            }
            .subtitle {
                font-size: 1.6em;
            }
        }
        @media only screen and (max-width: $break-small) {
            text-align: center;
            .title {
                font-size: 1.5em;
            }
            .subtitle {
                font-size: .9em;
            }
        }
    }
    #button-holder {
        display: flex;
        justify-items: space-around;
        align-content: center;
        width: 100%;
        .button {
            border-style: solid;
            // margin-right: 5em;
            a {
                color: inherit;
                padding: .4em;
            }
        }
        @media only screen and (min-width: $break-medium) {
            font-size: 3em;
        }
        @media only screen and (max-width: $break-medium) {
            font-size: 1em;
        }
        @media only screen and (max-width: $break-small) {
            font-size: 1em;
        }
        // @media only screen and (min-width: $break-medium) {
        //     grid-template-columns: 1fr 1fr 1fr;
        // }
        // @media only screen and (max-width: $break-medium) {
        //     grid-template-columns: 1fr;
        // }
    }
}

#projects {
    background-color: $secondary-background-color;
    color: $secondary-text-color;
    min-height: 100vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    @media only screen and (min-width: $break-medium) {
        #title {
            font-size: 4em;
        }
        .section-title {
            font-size: 3em;
        }
    }
    @media only screen and (max-width: $break-medium) {
        #title {
            font-size: 2em;
        }
        .section-title {
            font-size: 1em;
        }
    }
    @media only screen and (max-width: $break-small) {
        #title {
            font-size: 1.5em;
        }
        .section-title {
            font-size: 1.3em;
        }
    }
    #title,
    .section-title {
        text-align: center;
    }
    .project-section {
        padding-left: 1em;
        padding-right: 1em;
        @media only screen and (min-width: $break-medium) {
            font-size: 2.5em;
        }
        @media only screen and (max-width: $break-medium) {
            font-size: 1em;
        }
        @media only screen and (max-width: $break-small) {
            font-size: 1em;
        }
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
            margin-right: 0;
        }
        .element {
            .title {
                font-size: 1.5em;
                font-style: normal;
            }
            .subtitle {
                font-size: 1em;
                margin-bottom: .1em;
            }
            .body {
                margin: auto;
                font-size: .8em;
                a {
                    color: $tertiary-text-color;
                    border-style: solid;
                    padding: .1em;
                    margin: .1em;
                }
                 :hover {
                    border-color: beige;
                }
            }
        }
    }
}

#about {
    background-color: $tertiary-background-color;
    color: $tertiary-text-color;
    min-height: 100vh;
    padding-left: 1.5em;
    padding-right: 1.5em;
    @media only screen and (min-width: $break-medium) {
        #title {
            font-size: 3em;
        }
    }
    @media only screen and (max-width: $break-medium) {
        #title {
            font-size: 2em;
        }
    }
    @media only screen and (max-width: $break-small) {
        #title {
            font-size: 1em;
        }
    }
    #title {
        text-align: center;
    }
    #about-body {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        justify-content: center;
        @media only screen and (min-width: $break-medium) {
            grid-template-columns: 1fr 1fr;
            #description {
                font-size: 2em;
            }
        }
        @media only screen and (max-width: $break-medium) {
            grid-template-columns: 1fr;
            #description {
                font-size: 1.5em;
            }
        }
        @media only screen and (max-width: $break-small) {
            grid-template-columns: 1fr;
            #description {
                font-size: 1em;
            }
        }
        #left-side {
            #profile-image {
                margin: auto;
                width: 20vw;
                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }
            #bottom-text {
                text-align: center;
            }
        }
        #description {
            margin: auto;
            text-align: center;
        }
    }
    .highlights {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: grid;
        justify-content: center;
        .highlight-title {
            font-size: 1.2em;
        }
        .highlight-description {
            font-size: .5em;
            margin: auto;
            text-align: center;
        }
        @media only screen and (min-width: $break-medium) {
            font-size: 3em;
        }
        @media only screen and (max-width: $break-medium) {
            font-size: 2em;
        }
        @media only screen and (max-width: $break-small) {
            font-size: 1em;
        }
    }
    #highlights-1 {
        @media only screen and (min-width: $break-large) {
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width: $break-large) {
            grid-template-columns: 1fr 1fr;
        }
    }
    #highlights-2 {
        @media only screen and (min-width: $break-large) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @media only screen and (max-width: $break-large) {
            grid-template-columns: 1fr 1fr;
        }
    }
}