/*This file is supposed to contain global styling so we 
can change the color of parts of our website easily 
without having to naviage a dozen different files. 
I have put in some palceholder colors right now but
we can change the colors to suit our needs easily */

$primary-background-color: #1e0125;
$primary-text-color:white;
$secondary-background-color:#5E0738;
$secondary-text-color: white;
$tertiary-background-color: #2D105C;
$tertiary-text-color: white;
$break-xsmall: 576px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
.theme-primary-color {
    background-color: $primary-background-color;
}

.theme-primary-text-color {
    color: $primary-text-color
}

.theme-secondary-color {
    background-color: $secondary-background-color;
}

// body {
//     background-color: $primary-background-color;
//     color: $primary-text-color;
//     font-size: 1vw;
// }
.center {
    text-align: center;
    position: relative;
}

.bold {
    font-weight: bold;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.textLeftUnlessSmall {
    @media screen and (max-width: $break-xsmall) {
        text-align: center;
    }
    @media screen and (min-width: $break-xsmall) {
        text-align: left;
    }
}

.textRightUnlessSmall {
    @media screen and (max-width: $break-xsmall) {
        text-align: center;
    }
    @media screen and (min-width: $break-xsmall) {
        text-align: right;
    }
}