@import "./../Theme.scss";
#navbar {
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    #title {
        text-align: center;
        font-size: xx-large;
        #bottom {
            font-size: smaller;
        }
    }
}